* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    background-color: #F3F3F3;
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: var(--main-black, #181717);
    font: 500 50px DM Sans;
}

header nav {
    display: flex;
    align-items: center;
}

header nav p {
    color: var(--main-black, #181717);
    font: 500 22px DM Sans;
}

header nav p:hover {
    text-decoration: underline;
}

header nav p:not(:last-child) {
    margin-right: 30px;
}

.about {
    margin-top: 95px;
}

.about .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
}

.about .info .left {
    width: 575px;
}

.about .info .right {
    width: 457.659px;
    height: 405.781px;
    background: var(--main-gray, #606060);
}

.about .info .left h1 {
    color: var(--main-black, #181717);
    font: 500 60px DM Sans;
}

.about .info .left p {
    color: var(--main-gray, #606060);
    font: 400 24px DM Sans;
    margin-top: 47px;
}

.about .skills div {
    display: flex;
}

.about .skills div h2 {
    color: var(--main-black, #181717);
    text-decoration-line: underline;
    font: 500 22px DM Sans;
    margin-right: 63px;
}

.about .skills div p {
    color: var(--main-black, #181717);
    font: 400 20px DM Sans;
    width: 440px;
}

.about .line {
    height: 2px;
    background-color: #181717;
    margin-top: 110px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.contacts .img {
    background-image: url(image.png);
    width: 21px;
    height: 24px;
    background-size: contain;
    transform: rotate(270deg);
    background-repeat: no-repeat;
    margin-left: 41px;
}

.contacts div {
    display: flex;
}

.contacts p {
    color: var(--main-black, #181717);
    font: 400 32px DM Sans;
    width: 370px;
    margin: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 135px;
}

footer .links {
    display: flex;
}

footer .links p:not(:last-child) {
    margin-right: 37px;
}

footer p {
    color: #2429AF;
    font-weight: 500;
    font: 500 22px DM Sans;
}

footer .links p {
    color: #181717
}