* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    background-color: #F3F3F3;
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: var(--main-black, #181717);
    font: 500 50px DM Sans
}

header nav {
    display: flex;
}

header nav p {
    color: var(--main-black, #181717);
    font: 500 22px DM Sans;
}

header nav p:hover {
    text-decoration: underline;
}

header nav p:not(:last-child) {
    margin-right: 29px;
}

main {
    margin-top: 109px;
}

main h1 {
    color: var(--main-black, #181717);
    font: 500 60px DM Sans;
    margin-bottom: 32px;
}

main p {
    color: var(--main-gray, #606060);
    font: 400 22px DM Sans;
}

main .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
}

main .form .inputs input {
    width: 678px;
    height: 50px;
    padding-left: 15px;
    margin-top: 30px;
}

main .form .text p {
    margin-top: 30px;
    padding-left: 32px;
}

main .btn {
    width: 180px;
    height: 32px;
    background-color: #000000;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
    color: #FFF;
    font: 700 18px DM Sans;
    margin-top: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 135px;
}

footer .links {
    display: flex;
}

footer .links p:not(:last-child) {
    margin-right: 37px;
}

footer p {
    color: #2429AF;
    font-weight: 500;
    font: 500 22px DM Sans;
}

footer .links p {
    color: #181717
}