* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    background-color: #F3F3F3;
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;

}

header nav {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

header h1 {
    color: var(--main-black, #181717);
    line-height: 97.2%;
    letter-spacing: -1.5px;
    font: 500 50px DM Sans;
}

header nav p {
    color: var(--main-black, #181717);
    line-height: 120%;
    letter-spacing: -0.66px;
    font: 500 22px DM Sans;
}

header nav p:hover,
footer nav p:hover {
    text-decoration: underline;
}

main section {
    margin-top: 128px;
}

.preview .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview .info h1 {
    color: var(--main-black, #181717);
    line-height: 97.2%;
    letter-spacing: -1.8px;
    font: 500 60px DM Sans;
}

.preview .info p {
    color: #606060;
    line-height: 117%;
    letter-spacing: -0.96px;
    font: 400 32px DM Sans;
}

.img-arrow {
    background-image: url(../assets/image.png);
    width: 33.608px;
    height: 39.942px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 128.1px;
}

.project-1,
.project-2 {
    border-bottom: 1.5px solid #181717;
}

.project-1,
.project-2,
.project-3 {
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 106px;
}

.titles {
    line-height: 121.5%;
}

.project-1 h2,
.project-2 h2,
.project-3 h2 {
    color: var(--main-black, #181717);
    letter-spacing: -0.72px;
    font: 500 24px DM Sans;
}

.project-1 h3,
.project-2 h3,
.project-3 h3 {
    color: var(--main-black, #181717);
    letter-spacing: -0.66px;
    font: 400 22px DM Sans;
    margin-top: 25px;
}

.project-1 p,
.project-2 p,
.project-3 p {
    color: var(--main-gray, #606060);
    letter-spacing: -0.66px;
    font: 400 22px DM Sans;
    margin-top: 50px;
    margin-bottom: 100px;
}

.img-block {
    background-image: url(../assets/Thumbnail.png);
    width: 640px;
    height: 365px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 124px;
}

.titles a {
    color: var(--main-black, #181717);
    letter-spacing: -0.66px;
    font: 500 22px DM Sans;
}

footer {
    display: flex;
    justify-content: space-between;
    line-height: 120%;
    letter-spacing: -0.66px;
}

footer nav {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

footer p {
    color: #2429AF;
    font: 500 22px DM Sans;
}

footer nav p {
    color: var(--main-black, #181717);
    font: 500 22px DM Sans;
}